@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@300;400;600;700;800&display=swap");

::selection {
  color: rgb(216, 238, 120);
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  background-color: rgb(22, 22, 28);
  font-family: "Montserrat", sans-serif;
}

.btn {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: rgba(191, 178, 212, 0.581);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  padding: 15px 25px 15px 25px;
  background-color: #aa77f1c3;
}

#mainSection {
  padding: 25px 350px 25px 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#mainSection h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: default;
  transition: 0.3s;
}

#mainSection p {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  cursor: default;
}

#mainSection h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: default;
  align-self: flex-start;
  transition: 0.3s;
}

#mainSection pre {
  font-family: "Fira Code", monospace;
  align-self: flex-start;
  font-size: 14px;
  background-color: rgba(56, 35, 98, 0.39);
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 600px;
  margin: 0;
  color: bisque;
  margin-bottom: 15px;
}

.code-label {
  color: white;
  align-self: flex-start;
  background-color: rgba(191, 178, 212, 0.581);
  min-width: 600px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

/* FORMATTING COLORS */

.function-declaration {
  color: #59c3d1;
}

.function-name {
  color: #aad058;
}

.function-params {
  color: #ef7d36;
}

.operands {
  color: #f7508b;
}

.number {
  color: #9d8eff;
}

.string {
  color: #ffdc4e;
}

.comment {
  color: #7a7a7a;
}
