* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* PRESENTATION CSS */

.navigation-menu {
  height: 100vh;
}

.personal {
  font-size: 24px;
  margin-bottom: 45px;
}

.personal-link {
  text-decoration: none;
  color: #ff7434;
  transition: 0.3s;
}

.personal-link:hover {
  color: #bd4f0f;
}

.homework-heading {
  margin: 25px;
}

.navigation-menu span {
  text-align: center;
}

.navigation-menu h1 {
  text-align: center;
}

.navigation-menu h2 {
  text-align: center;
}

.back-home {
  background-color: #ff7434;
  border: #b84f1f;
  margin: 25px;
}

.back-home:hover {
  background-color: #d45418d7;
}

.back-home:active {
  background-color: #a74213d7;
}
.back-home:focus {
  background-color: #ff7434;
}

.hw-menu-link {
  font-size: 16px;
  background-color: #ff7434;
  color: white;
  padding: 15px;
  margin: 5px;
  border-radius: 15px;
}

.hw-menu-link:hover {
  color: white;
  background-color: #ff864e;
  box-shadow: 0 5px 15px rgba(255, 152, 55, 0.4);
  transform: translateX(5px);
}

/* HOMEWORK 3 CSS */

.exercise-title {
  margin-left: 25px;
}

.exercise {
  border: 3px solid #ff9b36bd;
  border-radius: 15px;
  padding: 25px;
  margin: 25px;
  background-color: #ffefe985;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* PRODUCT CSS */

.package {
  background-color: #e3edee;
  border: 2px solid #c7d7ea;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 0px 0 25px 0;
  margin: 15px;
}

.name {
  font-size: 16px;
  text-align: center;
  font-weight: 800;
  margin: 0 15px 0 15px;
  padding: 25px 10px 5px 10px;
  border: 2px solid #c7d7ea;
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.price {
  border: 2px solid #c7d7ea;
  border-radius: 15px;
  text-align: center;
  margin: 15px;
  padding: 5px;
}

.category {
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  border: 2px solid #c7d7ea;
}

/* NAME CSS */

.home-3-hw {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  border-radius: 15px;
  transition: 0.3s;
  float: center;
}
.home-3-hw:hover {
  background-color: #7559ff;
}

.bi-arrow-left-short {
  font-size: 20px;
  margin-right: 10px;
}

.exercise-2 {
  min-height: 140px;
}

.name-container {
  display: flex;
  flex-direction: column;
}

#myName {
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease-in;
}

.my-name-color {
  color: #7559ff;
}

.name-container p {
  text-align: center;
}

/* FORM */

.color-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-color-form {
  color: white;
  background-color: #7559ff;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  margin: 15px;
}

.btn-color-form:hover {
  color: white;
  background-color: #6248e5;
}

.btn-color-form:active {
  color: white;
  background-color: #4e36ca;
}

.color-input {
  border-radius: 25px;
  /* padding: 25px; */
  border: 1px solid rgb(127, 127, 127);
  padding: 2px;
  width: 125px;
  height: 45px;
  cursor: pointer;
}

.color-input::-webkit-color-swatch-wrapper {
  padding: 5px 8px 5px 8px;
  border-radius: 25px;
}

.color-input::-webkit-color-swatch {
  border-radius: 25px;
}

.badge-container {
  border: 1px solid #e7e7e7;
  padding: 25px;
  background-color: #f9efeb;
  border-radius: 15px;
}

.color-code {
  background-color: #3c3c3c;
  color: white;
  font-weight: 400;
  font-size: 12px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 5px;
  display: flex;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
}

.color-badge {
  padding: 10px;
  border: 1px solid #3c3c3c;
  border-radius: 0 0 10px 10px;
  min-width: 150px;
  min-height: 50px;
}

.badges {
  margin: 10px;
}

.btn-remove {
  background-color: #3c3c3c;
  color: #ff4747;
  max-width: 35px;
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn-remove:hover {
  background-color: #ff4747;
  color: #3c3c3c;
}

.color-label {
  min-width: 150px;
  display: flex;
}

.gradient-container {
  width: 550px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 1px solid #3c3c3c;
}

.otter-img {
  border: 2px solid #3c3c3c43;
}

.post-container {
  padding: 25px;
  background-color: #e4dcef;
  border-radius: 25px;
}

.post-container h4 {
  font-weight: 700;
  font-size: 18px;
}

.post-container .btn {
  transition: 0.2s;
  margin: 5px 5px 0 0;
  color: white;
}
.post-container .btn:last-child {
  margin: 5px 0 0 0;
}

.btn-like {
  background-color: #7559ff;
}

.post-container .btn:hover {
  background-color: #ff8d4b;
}

.btn-comment {
  background-color: #7559ff;
}
.btn-share {
  background-color: #7559ff;
}
