* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* PRESENTATION CSS */

.navigation-menu {
  height: 100vh;
}

.personal {
  font-size: 24px;
  margin-bottom: 45px;
}

.personal-link {
  text-decoration: none;
  color: #ff7434;
  transition: 0.3s;
}

.personal-link:hover {
  color: #bd4f0f;
}

.homework-heading {
  margin: 25px;
}

.navigation-menu span {
  text-align: center;
}

.navigation-menu h1 {
  text-align: center;
}

.navigation-menu h2 {
  text-align: center;
}

.back-home {
  background-color: #ff7434;
  border: #b84f1f;
  margin: 25px;
}

.back-home:hover {
  background-color: #d45418d7;
}

.back-home:active {
  background-color: #a74213d7;
}
.back-home:focus {
  background-color: #ff7434;
}

.hw-menu-link {
  font-size: 16px;
  background-color: #ff7434;
  color: white;
  padding: 15px;
  margin: 5px;
  border-radius: 15px;
}

.hw-menu-link:hover {
  color: white;
  background-color: #ff864e;
  box-shadow: 0 5px 15px rgba(255, 152, 55, 0.4);
  transform: translateX(5px);
}

/* HOMEWORK 3 CSS */

.exercise {
  border: 3px solid #8157ca;
  border-radius: 25px;
  padding: 25px;
  margin: 25px;
  background-color: #eae1f8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
